src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\reports:covid-eapi-config">
		<ee:transform doc:name="Set Variables" doc:id="2ef24f9a-2d5c-4377-90b6-716269cf3e1d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="state" ><![CDATA[attributes.queryParams.state default ""]]></ee:set-variable>
				<ee:set-variable variableName="acceptType" ><![CDATA[attributes.headers.Accept]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
				<ee:set-variable variableName="uhubHeaderParameters" ><![CDATA[%dw 2.0
output application/java
---
{
	"client_id": Mule::p('ehub.sapi.client_id'),
	"client_secret": Mule::p('ehub.sapi.client_secret'),
	"x-transaction-id": vars.transactionId,
	"x-correlation-id": attributes.headers.'x-correlation-id' default ""
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="a8cf8ef8-fb2e-436e-b913-d30020a95c44" message='transactionId: #[vars.transactionId]], correlationId: #[vars.correlationId], message: Started get reports flow and received query parameter is - #[attributes.queryParams.state]"'/>
		<flow-ref doc:name="get-covid-case-reports-by-state" doc:id="4310de60-a857-456a-a60e-7a847a5ccb2d" name="get-covid-case-reports-by-state"/>
		<choice doc:name="Choice" doc:id="bc1052fe-768d-4fda-a6c5-b3ce362b3af0" >
			<when expression='#[vars.acceptType == "application/xml"]'>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Set XML Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	reports: payload map {
		"state": $.state,
		"report": {
			"total": $.reports.total default 0,
			"positive": $.reports.positive default 0,
			"recovered": $.reports.recovered default 0,
			"death": $.reports.death default 0,
			"vaccinated": $.reports.vaccinated default 0
		}
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Set JSON Response" doc:id="e113cb27-fea5-4914-ba5c-68dfb90f9bb7" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	reports: payload map {
		"state": $.state,
		"report": {
			"total": $.reports.total default 0,
			"positive": $.reports.positive default 0,
			"recovered": $.reports.recovered default 0,
			"death": $.reports.death default 0,
			"vaccinated": $.reports.vaccinated default 0
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="a78c29b1-fc4f-49c9-922d-0207a62d8143" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed get reports flow, payload: #[payload]"' />
    
</flow>
	</mule>
